<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
  <a class="navbar-brand" routerLink="/home">NMS Cinemas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 65%;">
    
    <!-- <form class="form-inline my-2 my-lg-0"> -->
      <input class="form-control mr-sm-2" type="search" placeholder="Search Movie" aria-label="Search" name="search" [(ngModel)]="search"><button class="btn btn-primary my-2 my-sm-0" type="submit" (click)="searchFun(search)">Search </button>
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchFun(search)">Search </button> -->
    <!-- </form> -->
    &nbsp;&nbsp;&nbsp;&nbsp;
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="btn btn-danger my-2 my-sm-0" routerLink="/login">Logout <span class="sr-only">(current)</span></a>
      </li>
     
    </ul>
  </div>
</nav>



