<app-navbar></app-navbar>
  
  <section class="h-100 h-custom" style="background-image:url(https://www.trendsetbuilders.com/images/completed-project/trendset-mall/benz-image01.jpg); height: 100vh">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img [src]="card.imageUrl"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">UPDATE MOVIE</h3>
  
              <form class="px-md-2" [formGroup]="cardForm" (ngSubmit)="cardSubmit(cardForm)">
  
                <div class="form-outline mb-4">
                  <label class="form-label" for="imageUrl">Image URL</label>
                  <input type="text" id="imageUrl" formControlName="imageUrl" class="form-control" />
    
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="title">Title</label>
                  <input type="text" id="title" formControlName="title" class="form-control" />
                </div>
                <!-- <div class="form-outline mb-4">
                  <input type="text" id="genre" formControlName="genre" class="form-control" />
                  <label class="form-label" for="genre">genre</label>
                </div> -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="language">Language</label>
                  <input type="text" id="language" formControlName="language" class="form-control" />
                  
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="price">Price</label>
                  <input type="text" id="price" formControlName="price" class="form-control" />
                  
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="date">Date</label>
                  <input type="text" id="date" formControlName="date" class="form-control" />
            
                </div>
                <!-- <div class="form-outline mb-4">
                  <input type="text" id="place" formControlName="place" class="form-control" />
                  <label class="form-label" for="place">place</label>
                </div> -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="description">Genre</label>
                  <input type="text" id="description" formControlName="description" class="form-control" />
                </div>
                <!-- <div class="form-outline mb-4">
                  <input type="text" id="seatscount" formControlName="seatscount" class="form-control" />
                  <label class="form-label" for="seatscount">seatscount</label>
                </div> -->
                
  
                <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button> &nbsp;&nbsp; &nbsp; &nbsp;  
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <button type="button" class="btn btn-primary" style="align-self: center;" routerLink="/admin"><b>Back</b></button>
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br><br>